{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

        {{ dump(associations.1) }}


{% if app.user == false %}
    <p> connectez vous pour choisir votre association</p>
{% else %}


<p> vous etes connecté en tant que {{app.user.lastName}} </p>
<div class='associationscontainer' onclick="return(association.id)">
    {% for association in associations %}
    <div class="association {{association.id}}">
        <h2>{{association.name}}</h2>
        <img src="{{asset('/build/uploads/' ~ association.logo)}}"></img>
        <p>{{association.description}}</p>
    </div>
               {# {{association.logo}} #}
    {% endfor %}
</div>
{% endif %}


{% endblock %}
